@import 'normalize.css';
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo{
    width: 40px;
}
.nav{
    padding: 2%;
    margin-left: 5%;
}
a{
    text-decoration: none !important;
    color: black !important;
}
button{
    border: none !important;
    margin-top:-2px !important;
} 

.btn-primary{
    background-color:#057ec7 !important;
}